@use "../../abstracts/"as *;

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.btn {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: $primary-grn;
  background-color: $primary-background;
  border: solid 0.1rem $primary-grn;
  border-radius: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
}

.half-btn {
  width: 195px;
  height: 90px;
}

.full-btn {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 90px;
  text-align: center;
}

.full-btn.green {
  background-color: $primary-grn;
}