@use '../../abstracts/index' as *;

.add-listing {
  .add-listing-header {
    .top-nav {
      background-color: $primary-background;
      border-bottom: solid 0.1rem $primary-grn;
      padding: 3.5rem;
    }
  }

  .add-listing-body {
    
  }
}

.hide {
  display: none;
}
