@use '../../abstracts/' as *;

.signup {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: $primary-grn;
  overflow: scroll;

  &-grid {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }


  &-body {
    height: 50%;
    padding: 0;

    // GRID 1
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: center;
      border-right: 1px solid #008148;
      height: 100vh;
    }
  }


  &-footer {
    border-top: 1px solid $primary-grn;
    width: 100vw;
    height: 50%;
    margin: auto;


    // GRID 2
    @media (min-width: $desktop-width) {
      width: 100%;
      height: 100%;
      padding-top: 60%;
    }

    // FORM
    &__grid {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 120px 1fr;
      border-top: 1px solid #008148;
      padding-bottom: .8rem;

      @media (min-width: $desktop-width) {
        width: 80%;
      }
    }

    &__label {
      padding: 1.5em 0;
      display: flex;
      justify-self: start;
      align-items: center;
      text-transform: lowercase;
      font-size: 1.4rem;
    }

    &__input {
      padding: 1.2em;
      align-self: end;
      border: none;
      background-color: $primary-background;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 600;
      color: $primary-grn;
    }

    &__btn {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 600;
      color: $primary-grn;
      text-transform: uppercase;
      width: 100%;
      height: 10vh;
      margin-left: 0;
      border-top: 1px solid $primary-grn;
      border-bottom: 1px solid $primary-grn;
      position: fixed;
      right: 0;
      bottom: 0;

      @media (min-width: $desktop-width) {
        width: 50%;
      }
    }

    &__error {
      text-align: center;
      padding: 10px;
      background: #ffefef;
      border: 1px solid rgb(218, 74, 74);
      margin: auto;
    }

    &__conditions {
      display: inline-flex;
      padding: 0 5rem;

      @media (min-width: $desktop-width) {
        padding: 2.5rem 3.5rem;
      }
    }

    &__p {
      font-size: 12px;
      font-weight: 400;
      padding-left: 1rem;
    }
  }
}

.signup-footer__error {
  border: solid 0.1rem $primary-error;
  background-color: $secondary-error;
  border-radius: 0.4rem;
  color: $primary-error;
}

.signup-footer__grid:first-of-type {
  border-top: none;
}
