@use '../../abstracts/index' as *;

.add-listing-form {
  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.1rem $primary-grn;
    padding: 3.5rem;

    input {
      width: 100%;
      // opacity: 0;

      &::placeholder {
        display: none;
      }
    }
  }

  &__exchange {
    padding: 2.5rem 3.5rem;
    border-bottom: solid 0.1rem $primary-grn;

    p:first-of-type {
      padding-bottom: 3rem;
    }

    &-type {
      padding-bottom: 2rem;
      display: flex;
      gap: 1rem;

      input {
        display: inline-block;
        width: fit-content;
      }

      label {
        width: 100%;
        flex: 1;
        font-size: 1.4rem;
      }
    }

    &-description {
      width: 100%;

      textarea {
        padding: 1.5rem 0;
        font-size: 1.4rem;
        width: 100%;
        height: 20rem;

        &::placeholder {
          font-weight: 400;
          opacity: 0.7;
          line-height: 2rem;
        }
      }
    }
  }

  &__form-option {
    padding: 2.5rem 3.5rem;
    border-bottom: solid 0.1rem $primary-grn;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 1.5rem 0;
      font-size: 1.4rem;

      &::placeholder {
        font-weight: 400;
        opacity: 0.7;
      }
    }

    textarea {
      padding: 1.5rem 0;
      font-size: 1.4rem;
      width: 100%;
      height: 15rem;

      &::placeholder {
        font-weight: 400;
        opacity: 0.7;
        line-height: 2rem;
      }
    }
  }

  button {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem;

    &:hover {
      background-color: $primary-background;
    }
  }
}
