@use "../../abstracts/"as *;

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
        margin: auto;
        padding: 0;
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title-top {
        text-align: center;
        font-size: 16px;
        padding: 2rem;
        z-index: 10;
    }

    &__circle1 {
        background-color: $primary-yellow;
        height: 31rem;
        width: 30rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;


        @media (min-width: $desktop-width) {
            width: 80vw;
            height: 50%;
            overflow: hidden;
        }
    }

    &__title1 {
        z-index: 10;
        width: 140px;
        height: 65px;
        font-size: 6rem;
    }


    &__circle2 {
        background-color: $primary-yellow;
        height: 31rem;
        width: 30rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        @media (min-width: $desktop-width) {
            bottom: -400px;
            width: 80vw;
            height: 50%;
            overflow: hidden;
        }
    }

    &__title2 {
        z-index: 10;
        width: 164px;
        height: 65px;
        font-size: 6rem;
    }

    &__title-bottom {
        text-align: center;
        font-size: 16px;
        padding: 2rem;
        z-index: 10;
    }

    &__signin-btn {
        width: 100vw;
        height: 75px;
        border-top: 1px solid $primary-grn;
    }

    &__login-btn {
        width: 100vw;
        height: 75px;
        border-top: 1px solid $primary-grn;
    }

    &__link {
        font-weight: 600;
        text-transform: uppercase;
    }
}