@use '../../abstracts/index' as *;

.listing-details {
  font-size: 1.4rem;

  &__top-nav {
    padding: 2.5rem 3.5rem;
    border-bottom: solid 0.1rem $primary-grn
  }

  .listing {
    .listing-header {

      &__buttons {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        button {
          width: 100%;
          text-transform: uppercase;
          color: $primary-grn;
          font-weight: 600;
          padding: 1rem;
          font-size: 1.2rem;

          &:first-of-type {
            border-right: solid 0.1rem $primary-grn;
          }
          &:hover {
            background-color: $secondary-background;
          }
        }
      }

      &__img {
        width: 100%;
      }

      &__name {
        padding: 1.5rem 3.5rem;
        border-bottom: solid $primary-grn 0.1rem;

        h1 {
          font-size: 2rem;
          text-transform: capitalize;
          margin: 0;
        }
      }
      &__exchange {
        padding: 1.5rem 3.5rem;
        border-bottom: solid $primary-grn 0.1rem;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p:last-of-type {
          text-transform: capitalize;
        }
      }
    }

    .listing-body {
      padding: 1.5rem 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      border-bottom: solid $primary-grn 0.1rem;
    }

    .listing-footer {
      &__quantity {
        padding: 1.5rem 3.5rem;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 0.1rem $primary-grn;

        p {
          text-transform: uppercase;
          // font-weight: 500;

          &:last-of-type {
            text-transform: capitalize;
          }
        }
      }

      .two-column {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        place-items: center;
        border-bottom: solid 0.1rem $primary-grn;

        .line {
          width: 0.1rem;
          background-color: $primary-grn;
          height: 100%;
        }
      }

      &__location,
      &__pickup-time {
        padding: 1.5rem;
      }
    }
  }
}

.hide {
  display: none;
}
