@use "./Variables.scss"as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {

    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}

body{
    background-color: $primary-background;
}

body, 
html {
    height: 100%;
}

li {
    list-style: none;
}

// ::-webkit-scrollbar {
//     display: none;
// }

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

textarea,
input,
button {
    border: none;
    background: none;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}
