// COLORS

$primary-yellow: #FFDB59; 
$secondary-yellow: #FFC700;

$primary-grn: #008148;
$secondary-grn: #006639;

$primary-background: #FFF9E7;
$secondary-background: #F5EDD5;

// BREAKPOINTS FOR MEDIA QUERIES 

$desktop-width: 1024px;
