@use '../../abstracts/' as *;

.login {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  // HEADER
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    border-bottom: 1px solid $primary-grn;
  }


  &-circle {
    padding: 1rem;
    height: 50vh;

    // GRID 1
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: center;
      width: 100%;
      border-right: 1px solid $primary-grn;
      height: 100%;
    }
  }

  &-media {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
    }
  }

  // BODY
  &-body {
    padding: 1rem;
    width: 100vw;
    margin: auto;
    height: 40vh;

    // GRID 2
    @media (min-width: $desktop-width) {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      padding: 0;
      width: 50vw;
      height: 80vh;
    }

    &__grid {
      display: grid;
      grid-template-columns: 100px 1fr;

      @media (min-width: $desktop-width) {
        padding: 0;
        margin: auto;
      }
    }

    // FORM
    &__form {
      text-transform: lowercase;
      margin: auto;
      width: 80%;
      border-top: 1px solid $primary-grn;
      // border-bottom: 1px solid #008148;

      @media (min-width: $desktop-width) {
        position: fixed;
        width: 45%;
        margin: auto;
        padding: 0;
      }
    }

    &__label {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 600;
      color: $primary-grn;
    }

    &__input {
      border: none;
      height: 5vh;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 14px;
      font-weight: 200;
      width: 90%;
      color: $primary-grn;
      background-color: $primary-background;
    }

    &__left {
      padding: 3.3rem 0;
      border-bottom: 1px solid $primary-grn;
      // background-color: aqua;
    }

    &__right {
      padding: 2rem 0;
      border-bottom: 1px solid $primary-grn;
      // background-color: pink;
    }
  }

  // FOOTER
  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    bottom: 0;
    margin: 0;
    border-top: 1px solid $primary-grn;

    @media (min-width: $desktop-width) {
      width: 50.1vw;
      position: fixed;
      right: 0;
      border-left: 1px solid $primary-grn;
    }
  }
}

.login-error {
  &__message {
    border: solid 0.1rem $primary-error;
    background-color: $secondary-error;
    border-radius: 0.4rem;
    color: $primary-error;
    padding: 2rem;
    text-align: center;
  }
}

.half-btn {
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 10vh;
}

.half-btn:nth-child(odd) {
  border-right: 1px solid $primary-grn;
}

.full-btn.signin {
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  height: 10vh;
  text-align: center;
  border-bottom: 1px solid $primary-grn;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
